/* using font awsome */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
body{
    font-family: 'Poppins';
    font-weight: 700;
    margin: 0 10%;
}
/* nav style */
.nav-container{
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.brand h2{
    font-size: 30px;
}
.menu{
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu a{
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
/* header style */
header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 5% 10%;
}
.header-left{
    margin-top: 50px;
}
.header-left h1{
    font-size: 55px;
    margin-bottom: 0;
}
.header-left p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}
.header-left a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 10px 30px;
    border-radius: 19px;

}
.header-left a .fa-arrow-right{
    margin-left: 10px;
}
.header-right{
    /* margin-right: 70px; */
    
    display: flex;
    justify-content: end;
}
.header-right img{
    width:68%;
}


/* media query for mobile devices */
@media only screen and (max-width: 688px) {
    body{
        margin: 0;
        padding: 0;
    }
    /* nav style */
    .nav-container{
        width: 100%;
        margin: 0;
        grid-template-columns: repeat(1,1fr);
    }
    .menu{
        display: none;
    }
    .brand{
        text-align: center;
    }
    .brand h2{
        font-size: 22px;
    }

    /* header section */
    header{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        margin: 0;
        
    }
    .header-left{
        order:2;
        margin: 0 5%;
        margin-top: 20px;

    }
    .header-left h1{
        font-size: 35px;
        margin-bottom: 0;
        margin-top:0;
    }
    .header-right{
        margin-top: 40px;
        justify-content: center;
    }
}

/* media query for Tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {

    body{
        margin: 0;
        padding: 0;
    }
    /* nav section */
    .nav-container{
        margin: 0%;
    }
    .menu a{
        font-size: 16px;
        margin-right: 12px;
    }
    .brand h2{
        margin-left: 25px;
    }
    header{
        margin: 0 4%;
    }
    .header-right img{
        margin-top: 100px;
        width: 100%;
        height: 80%;
    }

}